@import "tailwindcss";

/* Global CSS configurations: imported in root.tsx */

:root {
  --background: #eeeeee;
  --ui-background: #ffffff;
  --border: #bcbcbc;

  --logoprimary: #d2be80;
  --logosecondary: #010101;
  --logoaccent: #d2d8d8;
}

/* Dark mode: needs testing from somebody that actually uses dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* need to define alternatives for above root */
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* === Protected Layout === */
.protected-layout {
  @apply p-6 min-h-screen w-full;
  background: var(--background);
}

/* === Navbar === */
.navbar {
  background: var(--ui-background);
  border: 0.2rem solid var(--border);
}

/* === Dashboard === */

.dashboard-section {
  @apply rounded-lg shadow p-6;
  background: var(--ui-background);
}

/* === Ticker === */

/* Other */
.loading-placeholder {
  @apply flex bg-gray-200 rounded animate-pulse;
}

.ticker-gain-loss {
  @apply flex gap-2 w-full;
}

.symbol {
  @apply font-bold text-gray-900;
}


/* === Miscellaneous === */

.view-more-button {
  @apply text-blue-500 mt-2;
}
